<div>

  <div>
    <%= link_to 'Selecionar paciente', "/patients", :class => "btn btn-slc" %>
  </div>

  <%= content_tag(:div, :class => "well clearfix" ) do %>

    <%= content_tag(:div, :class => "well pull-left ") do %>
      <p>
        <b>Nome Paciente:</b>
        <%= @patient.nome %>
      </p>
      <p>
        <b>Numero de Registro:</b>
        <%= @patient.numRegistro %>
      </p>
      <p>
        <b>Codigo de Registro:</b>
        <%= @patient.numRegistro %>
      </p>
    <% end %>

    <%= content_tag(:div, :class => "well pull-left") do %>
      <p>
        <b>Nome Paciente:</b>
        <%= @patient.nome %>
      </p>
      <p>
        <b>Numero de Registro:</b>
        <%= @patient.numRegistro %>
      </p>
      <p>
        <b>Codigo de Registro:</b>
        <%= @patient.numRegistro %>
      </p>
    <% end %>

  <% end %>

  <%= content_tag(:div, :class => "tabs") do %>
    <%= content_tag(:ul) do %>

      <%= content_tag(:li, content_tag(:a, 'Historico', :href => "#tabs-historico") ) %>
      <% @categories.each do |c| %>
        <%= content_tag(:li, content_tag(:a, c.description, :href => "#tabs-#{c.id}") ) %>
      <% end %>
      <%= content_tag(:li, content_tag(:a, 'Intercorrencia', :href => "#tabs-intercorrencia") ) %>
      <%= content_tag(:li, content_tag(:a, 'Ocorrencia', :href => "#tabs-ocorrencia") ) %>
    <% end %>

    <% @categories.each do |c| %>
      <%= content_tag(:div, :id => "tabs-#{c.id}") do %>
      <table class="table">
        <tr>
          <th>Descrição</th>
          <th>Fisioterapeuta</th>
          <th>Data</th>
          <th>Hora</th>
        </tr>

        <tr>
          <td><%= c.description %> </td>
          <td>Fisioterapeuta</td>
          <td>25/02/1992</td>
          <td>17:44</td>
        </tr>
      </table>

        <%= content_tag(:div, :class => 'well') do %>
          <%= field_set_tag c.description do %>
            <% c.variables.each do |variable| %>
              <%= content_tag(:div) do %>

                <%= label_tag c.description + ' ' + variable.description, variable.description %>
                <%= radio_button_tag c.description, variable.description %>

              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag(:div, :id => "tabs-intercorrencia") do %>
      <table class="table">
        <tr>
          <th>Descrição</th>
          <th>Fisioterapeuta</th>
          <th>Data</th>
          <th>Hora</th>
        </tr>

        <tr>
          <td>Intercorrencia</td>
          <td>Fisioterapeuta</td>
          <td>25/02/1992</td>
          <td>17:44</td>
        </tr>
      </table>

      <%= content_tag(:div, :class => 'well') do %>
        <%= field_set_tag "Intercorrencias" do %>
          <% @intercorrencia_variables.each do |variable| %>
            <%= content_tag(:div) do %>
              <%= radio_button_tag 'intercorrencias', variable.description %>
              <%= label_tag 'intercorrencias' + ' ' + variable.description, variable.description %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to 'Salvar', '/home', :class => 'btn' %>
    <% end %>

    <%= content_tag(:div, :id => "tabs-ocorrencia") do %>
      <table class="table">
        <tr>
          <th>Descrição</th>
          <th>Fisioterapeuta</th>
          <th>Data</th>
          <th>Hora</th>
        </tr>

        <tr>
          <td>Ocorrencia</td>
          <td>fisioterapeuta</td>
          <td>25/02/1992</td>
          <td>17:44</td>
        </tr>
      </table>

      <%= content_tag(:div, :class => 'well') do %>
        <%= field_set_tag "Ocorrencias" do %>
          <% @ocorrencia_variables.each do |variable| %>
            <%= content_tag(:div) do %>
              <%= radio_button_tag 'ocorrencias', variable.description %>
              <%= label_tag 'ocorrencias' + ' ' + variable.description, variable.description %>
            <% end %>
          <% end %>
        <% end %>
        <% end %>
      <%= link_to 'Salvar', '/home', :class => 'btn' %>
    <% end %>

    <%= content_tag(:div, :id => "tabs-historico") do %>
      <table class="table">
        <tr>
          <th>Descrição</th>
          <th>Fisioterapeuta</th>
          <th>Data</th>
          <th>Hora</th>
        </tr>

        <tr>
          <td>Glasgow > 8</td>
          <td>Ze</td>
          <td>25/02/1992</td>
          <td>17:44</td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>