<div>

  <div>
    <%= link_to 'Selecionar paciente', "/history/selecionar_paciente", :class => "btn btn-slc" %>
  </div>

  <%= content_tag(:div, :class => "well" ) do %>

    <%= content_tag(:div) do %>

      <%= label_tag "Nome Paciente: #{@patient.nome}" %>
      <%= label_tag "Data Nascimento: #{@patient.data_nasc}" %>
      <%= label_tag "CPF: #{@patient.cpf}" %>
      <%= label_tag "Codigo Registro: #{@patient.numRegistro}" %>

    <% end %>

  <% end %>

  <%= content_tag(:div, :class => "tabs") do %>
    <%= content_tag(:ul) do %>

      <%= content_tag(:li, content_tag(:a, 'Historico', :href => "#tabs-historico") ) %>
      <% @categories.each do |c| %>
        <%= content_tag(:li, content_tag(:a, c.description, :href => "#tabs-#{c.id}") ) %>
      <% end %>
      <%= content_tag(:li, content_tag(:a, 'Intercorrencia', :href => "#tabs-intercorrencia") ) %>
      <%= content_tag(:li, content_tag(:a, 'Ocorrencia', :href => "#tabs-ocorrencia") ) %>
    <% end %>

    <% @categories.each do |c| %>
      <%= content_tag(:div, :id => "tabs-#{c.id}") do %>
        <%= field_set_tag c.description do %>
          <% c.variables.each do |variable| %>
            <%= content_tag(:div) do %>

              <%= label_tag c.description + ' ' + variable.description, variable.description %>
              <%= radio_button_tag c.description, variable.description %>

            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag(:div, :id => "tabs-intercorrencia") do %>
      <%= field_set_tag "Intercorrencias" do %>
        <% Variable.where(:category_id => 77, :status => 1).each do |variable| %>
          <%= content_tag(:div) do %>
            <%= radio_button_tag 'intercorrencias', variable.description %>
            <%= label_tag 'intercorrencias' + ' ' + variable.description, variable.description %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag(:div, :id => "tabs-ocorrencia") do %>
      <%= field_set_tag "Ocorrencias" do %>
        <% Variable.where(:category_id => 77, :status => 1).each do |variable| %>
          <%= content_tag(:div) do %>
            <%= radio_button_tag 'ocorrencias', variable.description %>
            <%= label_tag 'ocorrencias' + ' ' + variable.description, variable.description %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag(:div, :id => "tabs-historico") do %>
      <table class="table">
        <tr>
          <th>Descrição</th>
          <th>Fisioterapeuta</th>
          <th>Data</th>
          <th>Hora</th>
          <th></th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    <% end %>
  <% end %>

  <%= link_to 'Salvar Dados', '/home', :class => 'btn' %>
</div>