<div>

  <div>
    <%= link_to 'Selecionar paciente', "/history/selecionar_paciente", :class => "btn btn-slc" %>
  </div>

  <%= content_tag(:div, :class => "well" ) do %>

    <%= content_tag(:div) do %>

      <%= label_tag "Nome Paciente: #{@patient.nome}" %>
      <%= label_tag "Prognostico: " %>
      <%= label_tag "Data Nascimento: #{@patient.data_nasc}" %>
      <%= label_tag "Codigo Registro" %>

    <% end %>

  <% end %>

  <%= content_tag(:div, :class => "tabs") do %>
    <%= content_tag(:ul) do %>
      <% @categories.each do |c| %>
        <%= content_tag(:li, content_tag(:a, c.description, :href => "#tabs-#{c.id}") ) %>
      <% end %>
    <% end %>

    <% @categories.each do |c| %>
      <%= content_tag(:div, :id => "tabs-#{c.id}") do %>
        <%= field_set_tag c.description do %>
          <% c.variables.each do |variable| %>
            <%= content_tag(:div) do %>
              <%= radio_button_tag c.description, variable.description %>
              <%= label_tag c.description + ' ' + variable.description, variable.description %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to 'Salvar Dados', '/home', :class => 'btn' %>
</div>