<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @patient.nome %>
</p>

<p>
  <b>CPF:</b>
  <%= @patient.cpf %>
</p>

<p>
  <b>Data nasc:</b>
  <%= @patient.data_nasc %>
</p>

<p>
  <b>Numero de Registro:</b>
  <%= @patient.numRegistro %>
</p>

<p>
  <b>Pontuação:</b>
  <%= "123" %>
</p>

<div class ="well">
	<p>
		<p>
			<h3>Fatores Influenciadores</h3>
			<table class="table table-striped">
			  <tr>
			    <th>Operação</th>
			    <th>Peso<i class="icon-circle-arrow-down"></th>
			    <th>Data</th>
			  </tr>

			  <tr>
			    <td>Glasgow</td>
			    <td>14</td>
			    <td>11/01/2011</td>
			  </tr>
			  <tr>
			    <td>IMC</td>
			    <td>12</td>
			    <td>11/01/2011</td>
			  </tr>
			  <tr>
			    <td>Usuario de Drogas</td>
			    <td>10</td>
			    <td>10/01/2003</td>
			  </tr>

			</table>
		</p>
	</p>

	<p>
		<h3>Historico</h3>
		<div>
			<table class="table table-striped">
			  <tr>
			    <th>Operação <i class="icon-circle-arrow-down"></th>
			    <th>Valor<i class="icon-circle-arrow-down"></th>
			    <th>Fisioterapeuta <i class="icon-circle-arrow-down"></th>
			    <th>Data <i class="icon-circle-arrow-down"></th>
			    <th>Hora <i class="icon-circle-arrow-down"></th>
			  </tr>

			  <tr>
			    <td>Glasgow</td>
			    <td>14</td>
			    <td>Fulano</td>
			    <td>14/1/2010</td>
			    <td>17:00</td>
			  </tr>
			</table>
		</div>
	</p>
</div>