<!DOCTYPE html>
<html>
<head>
  <title>Se</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

  <div class="row-fluid">

    <div class="span2">

      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Menu</li>
          <li> <%= link_to 'Categorias', categories_path%> </li>
          <li> <%= link_to 'Pacientes', patients_path%> </li>
          <li> <%= link_to 'Manter Paciente', "/history/home"%> </li>
        </ul>
      </div>
    </div>

    <div class="span10 well">
      <%= yield %>
    </div>

  </div>
</div>
</body>
</html>