<!DOCTYPE html>
<html>
<head>
  <title>Se</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="clearfix">
    <div class="well pull-right div-config">

      <p> Seja bem vindo, <%= session["usuario"] %> </p>
      <%= link_to 'Configuracoes', :controller => 'login', :action => 'config_login' %> 
      <%= link_to 'Sair', :controller => 'login', :action => 'sair' %>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row-fluid">

      <div class="span2">

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Menu</li>
            <li> <%= link_to 'Pacientes', patients_path%> </li>
            <li> <%= link_to 'Atender Paciente', "/history/home"%> </li>
            <li class="nav-header">Administrativo</li>
            <li> <%= link_to 'Fisioterapeutas', physiotherapists_path %> </li>
            <li> <%= link_to 'Categorias', categories_path%> </li>
            <li> <%= link_to 'Intercorrencias', '/categories/intercorrencias'%> </li>
            <li> <%= link_to 'Ocorrencias', '/categories/ocorrencias'%> </li>
            <li class="nav-header">Relatorios</li>
            <li> <%= link_to 'Desmames', '/relatorios/home'%> </li>
            <li> <%= link_to 'Estatistica', '/relatorios/estatistica' %> </li>
          </ul>
        </div>
      </div>

      <div class="span10 well">
        <%= yield %>
      </div>

    </div>
  </div>

</body>
</html>