<p id="notice"><%= notice %></p>

<p>
  <b>Categoria:</b>
  <%= @variable.category_id %>
</p>

<p>
  <b>Descrição:</b>
  <%= @variable.description %>
</p>

<p>
  <b>Tipo:</b>
  <%= "Opção" %>
</p>

<div class="well clearfix">
  <div class="well pull-left">
    <p>
      <%= render :partial=> "index_valores_opcao" %>
    </p>
  </div>

  <div class="well pull-left">
    <p>
      <%= render :partial=> "form_valores_opcao" %>
    </p>
  </div>
</div>