<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @physiotherapist.nome %>
</p>

<p>
  <b>Login:</b>
  <%= @physiotherapist.login %>
</p>

<p>
  <b>Senha:</b>
  <%= @physiotherapist.senha %>
</p>
<p>
	<h3>Historico de Atendimentos</h3>
	<div>
		<table class="table table-striped">
		  <tr>
		    <th>Operação <i class="icon-circle-arrow-down"></th>
		    <th>Paciente <i class="icon-circle-arrow-down"></th>
		    <th>Data <i class="icon-circle-arrow-down"></th>
		    <th>Hora <i class="icon-circle-arrow-down"></th>
		  </tr>

		  <tr>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		  </tr>
		</table>
	</div>
</p>

<%= link_to 'Editar', edit_physiotherapist_path(@physiotherapist), :class => 'btn' %>
<%= link_to 'Voltar', physiotherapists_path, :class => 'btn' %>
