<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= 'Nome' %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= 'CPF' %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= 'Data Nascimento' %><br />
    <%= f.date_select :data_nasc %>
  </div>
  <div class="field">
    <%= 'Numero de Registro' %><br />
    <%= f.text_field :numRegistro %>
  </div>
  <div class="field">
    <%= 'Sexo' %><br />
    <%= select_tag 'patient[sexo]', options_for_select([["Masculino", "0"], ["Feminino", "1"]]) %>

  </div>

  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success' %>
  </div>
<% end %>
