<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @patient.nome %>
</p>

<p>
  <b>CPF:</b>
  <%= @patient.cpf %>
</p>

<p>
  <b>Data nasc:</b>
  <%= @patient.data_nasc %>
</p>

<p>
  <b>Numero de Registro:</b>
  <%= @patient.numRegistro %>
</p>

<p>
	<h3>Historico</h3>
	<div>
		<table class="table table-striped">
		  <tr>
		    <th>Operação <i class="icon-circle-arrow-down"></th>
		    <th>Fisioterapeuta <i class="icon-circle-arrow-down"></th>
		    <th>Data <i class="icon-circle-arrow-down"></th>
		    <th>Hora <i class="icon-circle-arrow-down"></th>
		  </tr>

		  <tr>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		  </tr>
		</table>
	</div>
</p>
<%= link_to 'Atender', "/history/home/#{@patient.id}", :class => 'btn btn-primary' %> 
<%= link_to 'Editar', edit_patient_path(@patient), :class => 'btn btn-warning' %> 
<%= link_to 'Voltar', patients_path, :class => 'btn' %>