<%= form_for(variable) do |f| %>
  <% if variable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(variable.errors.count, "error") %> prohibited this variable from being saved:</h2>

      <ul>
      <% @variable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :category_id %>
  <%= f.hidden_field :status %>
  
  <div class="field">
    <%= f.label 'Descrição' %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label 'Valor' %><br />
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit 'Criar Variavel ', :class => 'btn'%>
  </div>
<% end %>
