<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :status, :value => '1' %>

  <div class="field">
    <%= f.label "Categoria Pai" %><br />
    <%= select_tag 'category[category_id]', options_for_select(Category.all.collect{ |c| [c.description, c.id] }) %>
    
  </div>
  <div class="field">
    <%= f.label 'Descrição' %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn' %>
  </div>
<% end %>
