<%= form_for(@variable) do |f| %>
  <% if @variable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variable.errors.count, "error") %> prohibited this variable from being saved:</h2>

      <ul>
      <% @variable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :category_id %>
  <%= f.hidden_field :status %>

  <div class="field">
    <%= 'Descrição' %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= 'Tipo' %><br />
    <%= select_tag 'variable[tipo]', options_for_select([["Opção", "0"], ["Valor", "1"]]) %>
  </div>

  <div class="actions">
    <%= f.submit 'Criar Variavel ', :class => 'btn btn-success'%>
  </div>
<% end %>
