<h3>Sub-Categorias</h3>

<table class="table">
  <tr>
    <th>Categoria</th>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% categories.each do |category| %>
  <tr>
    <td><%= category.category_id %></td>
    <td><%= category.description %></td>
    <td><%= link_to 'Mostrar', category, :class => "btn btn-primary" %></td>
    <td><%= link_to 'Editar', edit_category_path(category), :class => "btn btn-warning" %></td>
    <td><%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

