<h1>Categorias</h1>

<table class="table">
  <tr>
    <th>Categoria Pai</th>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= Category.find(category.category_id).description %></td>
    <td><%= category.description %></td>
    <td><%= link_to 'Mostrar', category %></td>
    <td><%= link_to 'Editar', edit_category_path(category) %></td>
    <td><%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Categoria', new_category_path, :class => 'btn' %>
<%= link_to 'Sugerir Categoria', {:action => 'sugerir'} , :class => 'btn' %>
<%= link_to 'Categorias Sugeridas', {:action => 'sugeridas'}, :class => 'btn' %>
