<h1>Intercorrências</h1>

<table class= "table">
  <tr>
    <th>Descrição</th>
    <th>Peso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @valores.each do |valore| %>
  <tr>
    <td><%= valore.description %></td>
    <td><%= valore.value %></td>
    <td><%= link_to 'Editar', edit_valore_path(valore), :class => "btn btn-warning" %></td>
    <td><%= link_to 'Deletar', valore, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Nova Intercorrência', {:action => 'new_intercorrencia'}, :class => 'btn' %>
<%= link_to 'Sugerir Intercorrência', {:action => 'sugerir_intercorrencia'} , :class => 'btn' %>
<%= link_to 'Intercorrências Sugeridas', {:action => 'sugeridas_intercorrencia'} , :class => 'btn' %>