<h1>Intercorrencias Sugeridas</h1>

<table class="table">
  <tr>
    <th>Descrição</th>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% variables.each do |variable| %>
  <tr>
    <td><%= variable.description %></td>
    <td><%= variable.value %></td>
    <td><%= link_to 'Mostrar', variable %></td>
    <td><%= link_to 'Editar', edit_variable_path(variable) %></td>
    <td><%= link_to 'Excluir', variable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Aprovar', variable %></td>
  </tr>
<% end %>
</table>

<br />
