<h1>Ocorrências</h1>

<table class= "table">
  <tr>
    <th>Descrição</th>
    <th>Peso</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @valores.each do |valore| %>
  <tr>
    <td><%= valore.description %></td>
    <td><%= valore.value %></td>
    <td><%= link_to 'Detalhes', "ocorrencias/detalhes/#{valore.id}", :class => "btn btn-primary" %></td>
    <td><%= link_to 'Editar', edit_valore_path(valore), :class => "btn btn-warning" %></td>
    <td><%= link_to 'Deletar', valore, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Ocorrência', {:action => 'new_ocorrencia'} , :class => 'btn' %>
<%= link_to 'Sugerir Ocorrência', {:action => 'sugerir_ocorrencia'} , :class => 'btn' %>
<%= link_to 'Ocorrências Sugeridas', {:action => 'sugeridas_ocorrencia'} , :class => 'btn' %>