<h1>Ocorrencias</h1>

<table class= "table">
  <tr>
    <th>Descricao</th>
    <th>Peso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @valores.each do |valore| %>
  <tr>
    <td><%= valore.description %></td>
    <td><%= valore.value %></td>
    <td><%= link_to 'Editar', edit_valore_path(valore), :class => "btn btn-warning" %></td>
    <td><%= link_to 'Deletar', valore, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Ocorrencia', {:action => 'new_ocorrencia'} , :class => 'btn' %>
<%= link_to 'Sugerir Ocorrencia', {:action => 'sugerir_ocorrencia'} , :class => 'btn' %>
<%= link_to 'Ocorrencias Sugeridas', {:action => 'sugeridas_ocorrencia'} , :class => 'btn' %>