<p id="notice"><%= notice %></p>

<h4>
  <b>Categoria:</b>
  <%= @category.description %>
</h4>

<p>
  <b>Filha de:</b>
  <% if @category.category_id? %>
    <%= link_to  Category.find(@category.category_id).description , Category.find(@category.category_id) %>
  <% end %>
</p>

<div class="well clearfix">
  <div class ="well pull-left">
    <p>
      <%= render :partial => "subcatindex", :locals =>{:categories => Category.where( :category_id => @category.id) } %> 
    </p>
  </div>

  <div class="well pull-left">
    <p>
      <%= render :partial=>"new_subcategory" %>
    </p>
  </div>
</div>

<div class="well clearfix">
  <div class="well pull-left">
    <p>
      <%= render :partial=>"variable_index", :locals => { :variables => @category.variables } %>
    </p>
  </div>

  <div class="well pull-left">
    <p>
      <%= render :partial=>"form_variables" %>
    </p>
  </div>
</div>