<p id="notice"><%= notice %></p>
<p>
  <%= link_to 'Editar Categoria', edit_category_path(@category) %> |
  <%= link_to 'Voltar', categories_path %>
</p>

<h4>
  <b>Categoria:</b>
  <%= @category.description %>
</h4>

<p>
  <b>Filha de:</b>
  <% if @category.category_id != 0 %>
    <%= link_to  Category.find(@category.category_id).description , Category.find(@category.category_id) %>
  <% end %>
</p>

<div class="well">

  <p>
    <%= render :partial => "subcatindex", :locals =>{:categories => Category.where( :category_id => @category.id) } %> 
  </p>

  <p>
    <%= render :partial=>"new_subcategory" %>
  </p>

</div>

<div class="well">
  <p>
    <%= render :partial=>"variable_index", :locals => { :variables => @category.variables } %>
  </p>

  <p>
    <%= render :partial=>"form_variables", :locals => {:variable => Variable.new(:category_id => @category.id) } %>
  </p>
</div>